body{
    background-color: deepskyblue;
}


.loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
 .loginForm {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px ;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  h2{
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }

.root{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

h1{
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

.window{
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px ;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}
h2{
    text-align: center;
}

input{
    width: 90%;
    margin-bottom: 10px;
}

.chatBox{
    height: 40px;
}

.chatText{
    overflow-wrap: break-word;
    text-align: left;
    margin: 0px 30px;
}


button{
    margin-bottom: 10px;
    font-weight: 900;
}

